<!DOCTYPE html>
{%load static%}
{%load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Login</h2>
                         <div class="form-group">
                                {% render_field form.username class="form-input" placeholder=form.username.label %}
<!--                             <input type="text" class="form-input" name="username" id="username" placeholder="Username"/>-->
                         </div>
                        <div class="form-group">
<!--                             <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>-->
<!--                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password" ></span>-->
                            {% render_field form.password class="form-input" placeholder=form.password.label %}
                         </div>
                        <div class="form-group">
<!--                             <input type="text" class="form-input" name="password" id="password" placeholder="Password"/>-->
<!--                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password" ></span>-->
                            {{form.errors}}
                            {%for message in messages%}
                                {{message}}
                            {%endfor%}
                         </div>
                        <div class="form-group">
                            <button type="submit" name="submit" id="submit" class="form-submit" value="Sign up">LOGIN</button>
                        </div>

                    </form>

                    <p class="loginhere">
                      <a href="{%url 'password_reset' %}" class="loginhere-link"> Forgot password?</a>
                    </p>
                </div>
            </div>
        </section>
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>
